<%- include('parts/header')%>
    <%- include('parts/navbar')%>


        <div class="container">
            <br>
            <p class="alert alert-danger"> Woring Uour Not Admin</p>


        </div>
        <%- include( 'parts/footer')%>